{% extends 'basic.html' %}

{% block search %}
<h2>Поиск Клиента по id</h2>
{{ super() }}
<br>
{% endblock %}
{% block results %}
<br>
<table border="3">
  <tr>
    <th>ID Клиента</th>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Конфликтный</th>
  </tr>
  <form>
  <input type="submit" formaction="http://127.0.0.1:5000/create_customer" value="Регистрация Клиента" formmethod="post">
</form>
  {% for res in results %}
    <tr>
      <td><a href="http://127.0.0.1:5000/customer?id={{res.id}}">{{res.id}}</a></td>
      <td>{{res.name}}</td>
      <td><a href="tel:+{{res.phone}}">{{res.phone}}</a></td>
      <td>{% for res in range(res.is_problem*1) %} &#10004 {% endfor %}</td>
    </tr>
  {% endfor %}
</table>
<table>
  <tr>
    <form>
      <input name="prev" value="1" type="search" hidden>
      <input type="submit" formaction="http://127.0.0.1:5000/all_customers" value="prev 10" >
    </form>
  </tr>
  <tr>
    {% if results[9]: %}
      <form>
        <input name="next" value="1" type="search" hidden>
        <input type="submit" formaction="http://127.0.0.1:5000/all_customers" value="next 10" >
      </form>
    {%endif%}
  </tr>
</table>
{% endblock %}
