{% extends 'basic.html' %}

{% block search %}
{% endblock %}
{% block results %}

    <h3>Создание департамента:</h3>
    <p>Откыть страницу "Все Департаменты" ==> нажать кнопку "создать департамент" ==>
        ввести название, локацию и телефон ==> нажать кнопку "создать"</p>

    <br><h3>Регистрация сотрудника:</h3>
    <p>Откыть страницу "Департаменты" ==> нажать на id департамента в каком хотите создать сотрудника =>
        нажать кнопку "Регистрация Сотрудника" ==> ввести имя, должность и телефон ==> нажать кнопку "создать"</p>

    <br><h3 id="reg_cust">Регистрация клиента:</h3>
    <p>Откыть страницу "все клиенты" ==> нажать кнопку "Регистрация Клиента" ==> ввести имя и телефон ==>
        нажать кнопку "создать"</p>

    <br><h3>Регистрация Заявки:</h3>
    <p>Откыть страницу "Все сотрудники" ==> нажать на id сотрудника на которого хотите зарегистрировать заявку =>
        нажать кнопку "Регистрация заявки" ==> выберите клиента который обращается
        (если клиента нет в списке смотрите пункт <a href="#reg_cust"> Регистрация клиента</a>),
        виберите статус и тип заявки а также введите описание, Серийный Номер и если извесно - цену ремонта ==>
        нажать кнопку "создать"</p>

    <br><h3>Редактирование департамента, сотрудника, клиента, заявки:</h3>
    <p>Откыть страницу с нужным содержанием ==> нажать на id записи которую хотите отредактировать=>
        внеситье необходимые изминения ==> нажать кнопку "изменить"
        <br>!!!ВНИМАНИЕ!!! некоторые поля невозможно изменить </p>

    <br><h3>Удаление департамента, сотрудника, клиента, заявки:</h3>
    <p>Откыть страницу с нужным содержанием ==> нажать на id записи которую хотите отредактировать =>
        нажать кнопку "удалить" => если уверенны в своих действиях - нажать "ОК" во всплывающем окне
        <br>!!!ВНИМАНИЕ!!! при удалении департамента, сотрудника, клиента будут удалены все привязвные к ним записи </p>



{% endblock %}