{% extends 'basic.html' %}

{% block search %}
{% endblock %}
{% block results %}

<br>

<form id="data" action="http://127.0.0.1:5000/edit_order" method="post/get" >
    <table border="0">
       <tr>
            <td>ID заявки</td>
            <td><input readonly name="id"  value={{results.id}}><br></td>
        </tr>
        <tr>
            <td>Дата создания</td>
            <td><input readonly disabled name="created"  value="{{results.created.strftime("%d/%m/%Y, %H:%M") }}"></td>
        </tr>
        <tr>
            <td>Создатель</td>
            <td><input type="number" name="creator" value="{{results.creator}}"></td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>
                <select name="status" form="data">
                    <option selected value="{{results.status}}">{{results.status}}</option>
                    <option value="Новый">Новый</option>
                    <option value="В работе">В работе</option>
                    <option value="Готов">Готов</option>
                    <option value="Отказ">Отказ</option>
                    <option value="Ждет запчасть">Ждет запчасть</option>
                    <option value="Выдан клиету">Выдан клиету</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Тип</td>
            <td>
            <select name="type" form="data">
                    <option selected value="{{results.type}}">{{results.type}}</option>
                    <option value="Платный">Платный</option>
                    <option value="Гарантийный">Гарантийный</option>
                    <option value="Другой">Другой</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Описание</td>
            <td><input type="text" name="descript" title="Какая неисправность в устройства" value="{{results.descript}}"> </td>
        </tr>
        <tr>
            <td>Серийный Номер</td>
            <td><input type="text" name="serial" title="Серийный номер устройства" value="{{results.serial}}"> </td>
        </tr>
        <tr>
            <td>Цена</td>
            <td><input type="number" name="price" value="{{results.price}}"> </td>
        </tr>
        <tr>
            <td>Обновлено</td>
            <td><input readonly disabled name="updated" value="{{results.updated.strftime("%d/%m/%Y, %H:%M") }}"></td>
        </tr>
    </table>
    <input type="submit" value="Изменить">
    <input type="reset" value="Очистить">
 </form>
 <form>
     <input type="search" hidden name="id" value="{{results.id}}">
     <input
             type="submit"
             onclick="return confirm('Удалить Заявку {{results.id}}?')"
             formaction="http://127.0.0.1:5000/delete_ordr"
             value="Удалить"
             formmethod="post"
     >
 </form>

{% endblock %}