{% extends 'basic.html' %}

{% block search %}

<h2>Поиск заявки по id</h2>
{{ super() }}
<br>
{% endblock %}
{% block results %}
<br>
<form>
  <select name="status">
    <option value="activ">Все активные</option>
    <option value="Новый">Новый</option>
    <option value="В работе">В работе</option>
    <option value="Готов">Готов</option>
    <option value="Отказ">Отказ</option>
    <option value="Ждет запчасть">Ждет запчасть</option>
    <option value="Выдан клиету">Выдан клиету</option>
  </select>
  <input type="submit" formaction="http://127.0.0.1:5000/all_orders" value="Фильтровать по статусу">
</form>
<form>
  <input type="date" name="date">
  <input type="submit" formaction="http://127.0.0.1:5000/all_orders" value="Фильтровать по дате">
</form>
<table border="3">
  <tr>
    <th>ID Заявки</th>
    <th>Дата создания</th>
    <th>Создатель</th>
    <th>Клиент</th>
    <th>Статус</th>
    <th>Тип</th>
    <th>Описание</th>
    <th>Серийный номер</th>
    <th>Цена</th>
    <th>Обновлено</th>
  </tr>
    {%for res in results %}
    <tr>
      <td><a href="http://127.0.0.1:5000/order?id={{res.id}}">{{res.id}}</a></td>
      <td>{{res.created.strftime("%d/%m/%Y, %H:%M")}}</td>
      <td><a href="http://127.0.0.1:5000/employee?id={{res.creator}}">{{res.creator}}</a></td>
      <td><a href="http://127.0.0.1:5000/customer?id={{res.customer}}">{{res.customer}}</a></td>
      <td>{{res.status}}</td>
      <td>{{res.type}}</td>
      <td>{{res.descript}}</td>
      <td>{{res.serial}}</td>
      <td>{{res.price}}</td>
      <td>{{res.updated.strftime("%d/%m/%Y, %H:%M")}}</td>
    </tr>
  {% endfor%}
</table>

{% endblock %}



